.chip {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 10px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
}

.label {
  flex-grow: 1;
  padding: 0 8px;
}

.removeIcon {
  color: #FFF;
  fill: #FFF;
  width: 12px;
  height: 12px;
  vertical-align: -0.125em;
}

.selectedIcon {
  fill: #FFF;
  width: 12px;
  height: 12px;
  vertical-align: -0.125em;
}

.trailingIcon {
  cursor: pointer;
}